*{
    margin: 0; padding: 0; list-style: none;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 100%  ;
    grid-template-rows: 60px 300px 1fr auto ;
    grid-template-areas: "nav"
                         "header"
                         "main"
                         "footer" ;
  }

  @media (max-width: 764px) {
    body {
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: 300px 1fr auto ;
        grid-template-areas: 
                             "nav header"
                             "nav main"
                             "nav footer" ;
      }

  }
  

/*Encabezado*/
header{
    grid-area: header;
    position: relative;
    
}

header img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0.8;
    outline: solid 7px aliceblue;;
    outline-offset: -16px;
}

.hmh{
    opacity: 1;
    color: rgb(193, 201, 167);
    font-size: 120px;
    position: absolute;
    display: flex;
    bottom: 0; 
    padding: 12px 23px;
        
}

@media (max-width: 768px){
    .hmh { 
        opacity: 1;
        color: rgb(193, 201, 167);
        font-size: 80px;
        position: absolute;
        display: flex;
        bottom: 0; 
        padding: 12px 23px;
    }

    #hmhBoots {
        font-size: 80px;
        line-height: 1.18;
    }

}

@media (min-width: 768px) and (max-width:1120px) {
    .hmh { 
        opacity: 1;
        color: rgb(193, 201, 167);
        font-size: 100px;
        position: absolute;
        display: flex;
        bottom: 0; 
        padding: 12px 23px;
    }

    #hmhBoots {
        font-size: 100px;
    }

}




/*Navegador*/
.nav{
    grid-area: nav ;
    background-color: rgba(206, 206, 182, 0.89); 
    text-transform: uppercase; font-weight: bolder;
    border-bottom: 4px solid aliceblue ;

}

.navBtn ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#logo{
    width: 64px;
    position: absolute;
    left: 40px;
    top: 27px;
    opacity: 0.7;
    display: none;
    z-index: 9;
}

#logo img{
    width: 64px;
    
}

@media (max-width: 764px) {

    #logo{
        display: block;
    }

    #logo:hover + .nav{
        width: 100%;
        z-index: 2;
        position: absolute; 
    }

    .nav {
        width: 20%;
        transition: all 0.8s ease-in-out; 
        left: 0; 
        bottom: 0;
        top: 0;
        height: 100%;
        padding-right: 20px;
        margin: 0;
    }

    nav:hover  {
        width: 100%;
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;  
        
    }

    .nav:hover .navBtn ul {
        display: block;
          
    }
    .navBtn ul {
        padding-top: 100px;
        flex-direction: column;
        display: none;
    

    }
    
    .navBtn ul li {
        width: 50%; 
        
    }
    .navBtn ul li a{
        text-decoration: none;
        width: 100%;
        color: white;
        border: none;
        padding: 15px 20px;
        justify-self: center;
        font-size: 20px;
        transition: all .2s ease-in-out;
        letter-spacing: 5px;
        transition: all 0.8s ease
    }
    
    .navBtn ul li:hover a {
        color: #4A4860;
    background:rgba(175, 175, 136, 0.89);
    box-shadow: 0px 4px 0px 0px #BB8EAC;
    }
}

.navBtn ul li {
    display: block;
    background-color: rgba(206, 206, 182, 0.658);
}

.navBtn ul li a{
    text-decoration: none;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    display: block;
    font-size: 20px;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 14px 30px;
    transition: all 0.8s ease
}

.navBtn ul li:hover a {
    color: #4A4860;
background:rgba(175, 175, 136, 0.89);
box-shadow: 0px 4px 0px 0px #BB8EAC;
}

 /* Es como pude encontrar para que el bootstrap funcionara segun la resolucion */
 #navBoot{
    display: block;
  }
  @media (min-width:768px) {
    #navBoot {
      display: none;
    }
  }

  #offcanvasDarkNavbar{
    background-color:  rgba(206, 206, 182, 0.89);
    text-decoration: none;
    color: white;
    border: none;
    text-align: left;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: all 0.8s ease
  }

  .offcanvas-header{
    margin-top: 20%;
  }


/* Efectos, para que simule lo mismo que el nav normal */
#navBoot1 ul li a{
    text-decoration: none;
    color: white;
    border: none;
    text-align: center;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: all 0.8s ease
}
     

#navBoot1 ul li:hover a {
    color: #4A4860;
background:rgba(175, 175, 136, 0.89);
box-shadow: 0px 4px 0px 0px #BB8EAC;
}


/*main*/
main {
    margin:50px;
    width: 100%;
    grid-area: main;
    min-height: 600px;
    justify-self: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

/*acciones para bootstrap*/
#mainCompraVenta{
    min-height: 400px;
    width: 100%;
    margin:50px;
}

@media (max-width:764px){

    #mainCompraVenta{
        min-height: 360px;
        width: 90%;
        margin-top: 25px;
        margin-left: auto;
    }
}

.centroMain {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: rgba(85, 85, 85, 0.493);
    height: fit-content;
    
}

.mainCompraVenta  {
}

.carousel-item div {
    background-color: rgba(85, 85, 85, 0.493);
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: all 1.5s ease-in-out;
  
}

.carousel-item:hover div {
    background-color: rgba(85, 85, 85, 0.493);
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
  
}


/*Footer*/

.footer {
    grid-area: footer;
    background-color: rgba(206, 206, 182, 0.89);
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    bottom: 0;
    
}

@media (max-width: 768px){

    .footer{
    left: 0;
    right: 0
    }

    footer div div ul{
    padding: 30px;
    }
}

.footer_gral {
    margin-left: 7%;
    margin-right: 7%;
    border: solid 5px;
    border-color: aliceblue;    
}

footer div div {
    display: flex;
    justify-content:space-evenly  ;   
    font-size: 18px;  
    flex-flow: row wrap; 
}

footer div div ul {
    padding: 10px;
    align-self: center
}



.redes {
    display: flex;
    
}
.apps {
    display: flex;
}
.redes li a img {
    width: 64px;
    padding: 10px;
}
.apps li a img {
    width: 200px;
    padding: 10px;
    height: 64px;
}

/* Publicar*/


.sForm{
    justify-content: center;
    display: flex;   
}

.formularios {
border: solid 10px; border-radius: 8px; border-color: rgb(193, 201, 167);
background-color: rgb(90, 89, 89);
color: aliceblue;
text-transform: uppercase;
padding: 10px;
max-width: 1000px ;
min-width: 360px;
margin: 15px;    
align-items: stretch;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(12, minmax(100px, auto));
gap: 10px;
grid-template-areas:"categorias categorias  categorias"
                    "tipoUnidad tipoOper    superficie"    
                    "dorm       bano        cochera"
                    "ubicacion  ubicacion   ubicacion"
                    "localidad  mapa        mapa"
                    "contacto   contacto    contacto"
                    "contForm   contForm    contForm"
                    "precio     precio      pago"
                    "caract     caract      caract"
                    "descr      descr       descr"
                    "foto       video       video "
                    "sumit      sumit       sumit"   
}   

@media (max-width: 764px){

    main {
        margin: auto;
        padding: 5px;
    }

    .formularios {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, minmax(100px, auto));
        gap: 10px;
        margin: 0px; 
        grid-template-areas:"categorias"
                            "tipoUnidad"
                            "tipoOper"
                            "superficie"    
                            "dorm"
                            "bano"
                            "cochera"               
                            "ubicacion"
                            "localidad"
                            "mapa"
                            "contacto"
                            "contForm"
                            "precio"
                            "pago"
                            "caract"
                            "descr"
                            "foto"
                            "video"
                            "sumit" 
    }

}


.formularios div input {
    border: 0;
    border: 0;
    border-bottom: 1px solid;
    border-color: aliceblue;
    margin-top: 10px;
    background-color: transparent;    
}

.categorias {
    grid-area: categorias;
    justify-self: center;
    align-self: center;
    font-size: 22px;
    border: 1px solid ;
    border-color: aliceblue;
    padding: 10px;      
}


.tipoUnidad {
    grid-area: tipoUnidad;
    padding: 10px;   
}

.tipoOper {
    grid-area: tipoOper;
    padding: 10px;
}
.superficie {
    grid-area: superficie;
    padding: 10px;
}
.superficie ul {
    display: flex;
    flex-direction: column;
    align-items: space-between;   
}

.superficie ul li{
    margin-bottom: 15px;
}


.dorm {
    grid-area: dorm;
    padding: 10px;

}
.bano {
    grid-area: bano;
    padding: 10px;

}
.cochera {
    grid-area: cochera;
    display: flex;
    justify-content:space-between;
    padding: 10px;
}

.ubicacion {
    grid-area: ubicacion;
    justify-self: center;
    align-self: center;
    font-size: 22px;
    border: 1px solid ;
    border-color: aliceblue;
    padding: 10px;
}
.localidad {
    grid-area: localidad;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 10px;    
}

.localidad label {
    margin-top: 5px;
    
}

.mapa {
    grid-area: mapa;
    padding: 10px;
    justify-self: center;
}
.contacto {
    grid-area: contacto;
    justify-self: center;
    align-self: center;
    font-size: 22px;
    border: 1px solid ;
    border-color: aliceblue;
    padding: 10px;
}
.contForm {
    grid-area: contForm;
    padding: 10px;
    display: flex;
    justify-content: space-evenly ;
}
.precio {
    grid-area: precio;
    padding: 10px;
    display: flex;
    justify-content: space-evenly ;
    flex-direction: column;
    border-right: 1px solid;
    border-color: rgba(240, 248, 255, 0.116);
    margin-top: 10px;
}

.precio label {
    margin-top: 10px;
}

.pago {
    grid-area: pago;
    padding: 10px;
    display: flex;
    justify-content: space-evenly ;
    flex-direction: column;
    margin-top: 10px;
}
.caract {
    grid-area: caract;
     justify-self: center;
    align-self: center;
    font-size: 22px;
    border: 1px solid ;
    border-color: aliceblue;
    padding: 10px;
}
.descr {
    grid-area: descr;
    padding: 10px;
    display: flex;
    justify-content: space-evenly ;
    flex-direction: column;
    border-right: 1px solid;
    border-color: rgba(240, 248, 255, 0.116);
    margin-top: 10px;    
}

.descr label {
    margin-top: 10px;
}


.foto {
    grid-area: foto;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    padding: auto;
    align-items: center; 
}

.foto input {
    display: none;
}

.foto img { 
    width: 64px;
    margin: 20px;    
}



.video {
    grid-area: video;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    padding: auto;
    align-items: center;
}

.video img { 
    width: 64px;
    margin: 20px;    
}

.video input {
    display: none;
}

.sumit {
    grid-area: sumit;
    justify-self: center;
    align-self: center;
    border: 2px solid ;
    border-color: aliceblue;
    padding: 10px;
    width: 60%;  
    display: flex;
    flex-direction: column; 
    transition: all .8s ease;

}

.sumit input[type="submit"] {
    border: 0PX;
    font-size: 18px;
    color: aliceblue;
    text-transform: uppercase;


}

.sumit:hover{
    color: black;
    border-color: black;
    background-color: rgba(206, 206, 182, 0.89);
}

.sumit:hover input[type="submit"]{
    color: rgba(0, 0, 0, 0.63);
    font-size: 24px;
    font-weight: 300;
}



/* Contacto */

.contactoForm{
    width: 100%;
    display: flex; 
    text-transform: uppercase; font-weight: bolder;
    margin-top: 100px;
    flex-wrap: wrap;  
    justify-content:center;
    align-self: center;
    border-left: 2px solid; border-color: rgba(58, 54, 54, 0.315);
    border-right: 2px solid; border-color: rgba(58, 54, 54, 0.315);
}

.contactoForm form label {
    flex-direction: column;
    display: flex;
    color: aliceblue;
}

.contactoForm form label input {
    border: 0;
    border-bottom: 1px solid;
    border-color: aliceblue;
    margin-top: 10px;
    background-color: transparent;
    
}

.contactoForm form {
    border: solid 10px; border-radius: 8px; border-color: rgb(193, 201, 167);
    background-image: url(https://64.media.tumblr.com/bdc1e73d6e4a9d56a8e26c4a1fbd640b/tumblr_nl7f4seGLV1qe3zw0o1_500.png);
    padding: 10px;
    display: grid;
    gap: 10px;
    width: 1000px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "nombreCont comenCont"
                         "numCont    comenCont"
                         "mailCont   comenCont"
                         "enviarCont enviarCont";

    
}

.nombreCont {
    grid-area: nombreCont;
    
}
.numCont{
    grid-area: numCont;
}
.mailCont{
    grid-area: mailCont;
}
.comenCont{
    grid-area: comenCont;
}
.enviarCont{
    grid-area: enviarCont;
    justify-self: center;
    align-self: center;
    border: 2px solid ;
    border-color: aliceblue;
    padding: 10px;
    width: 60%;  
    transition: all .8s ease;
    display: flex;
    justify-content: center;

}

.enviarCont input[type="submit"] {
    border: 0PX;
    font-size: 18px;
    color: aliceblue;
    text-transform: uppercase;
    background: transparent;


}

.enviarCont:hover{
    color: black;
    border-color: black;
    background-color: rgba(206, 206, 182, 0.89);
}

.enviarCont:hover input[type="submit"]{
    color: rgba(0, 0, 0, 0.63);
    font-size: 24px;
    font-weight: 300;
}


/* Ayuda */

.ayuda{
    width: 80%;
    display:flex;
    margin-top: 100px;
    flex-wrap: wrap;  
    justify-content:center;
    align-self: center;
    border-left: 2px solid; border-color: rgba(58, 54, 54, 0.315);
    border-right: 2px solid; border-color: rgba(58, 54, 54, 0.315);
    
}

@media (max-width:764px) {
    .ayuda {
        border: none;
        width: auto;
    }
    

}

.search-box {
position: relative;
width: 50%;
padding: 20px;
}

.search-form {
height: 32px;
border: 1px solid #feacae;
background-color: #fff;
overflow: hidden;
}

.search-text {
font-size: 14px;
color: #ddd;
border-width: 0;
background: transparent;
}

.search-box input[type="text"] {
width: 90%;
padding: 8px 0 12px 1em;
color: #333;
outline: none;
}
.search-button {
position: absolute;
top: 18px;
right: 0;
height: 34px;
width: 100px;
font-size: 14px;
color: #555;
text-align: center;
line-height: 4px;
border-width:0;
background-color: #cbf3ee;
cursor: pointer;
}

.preguntas {

    border: solid 10px; border-radius: 8px; border-color: rgb(193, 201, 167);
    background-color: rgb(90, 89, 89);
    padding: 10px;
    color: aliceblue;
    height: auto;
    width: 60%;

}

.preguntas li {
    padding-top: 10px;
    text-transform: uppercase; font-weight: bolder
} 
