* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px 300px 1fr auto;
  grid-template-areas: "nav" "header" "main" "footer";
}

@media (max-width: 780px) {
  body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 300px 1fr auto;
    grid-template-areas: "nav header" "nav main" "nav footer";
  }
}
.nav {
  grid-area: nav;
  background-color: rgb(193, 201, 167);
  text-transform: uppercase;
  font-weight: bolder;
  border-bottom: 4px solid aliceblue;
}
.nav .navBtn ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav .navBtn ul li {
  display: block;
}
.nav .navBtn ul li:hover {
  color: #4A4860;
  background: rgb(157, 161, 139);
  box-shadow: 0px 4px 0px 0px #BB8EAC;
}
.nav .navBtn ul a {
  text-decoration: none;
  color: white;
  border: none;
  padding: 15px 20px;
  text-align: center;
  display: block;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 14px 30px;
  transition: all 0.8s ease;
}
@media (max-width: 780px) {
  .nav {
    display: none;
  }
}

/* Es como pude encontrar para que el bootstrap funcionara segun la resolucion */
#navBoot {
  display: block;
}

@media (min-width: 780px) {
  #navBoot {
    display: none;
  }
}
#offcanvasDarkNavbar {
  background-color: rgb(193, 201, 167);
  text-decoration: none;
  color: white;
  border: none;
  text-align: left;
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: all 0.8s ease;
}

/* Efectos, para que simule lo mismo que el nav normal */
#navBoot1 ul li a {
  text-decoration: none;
  color: white;
  border: none;
  text-align: center;
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: all 0.8s ease;
}

#navBoot1 ul li:hover a {
  color: #4A4860;
  background: rgb(157, 161, 139);
  box-shadow: 0px 4px 0px 0px #BB8EAC;
}

header {
  grid-area: header;
  position: relative;
}
header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  outline: solid 7px aliceblue;
  outline-offset: -16px;
}
header #hmhBoots {
  opacity: 1;
  color: rgb(193, 201, 167);
  font-size: 120px;
  position: absolute;
  display: flex;
  bottom: 0;
  padding: 12px 23px;
  transition: all 1s ease-in-out;
}
header #hmhBoots:hover {
  color: rgb(157, 161, 139);
}
@media (min-width: 768px) and (max-width: 1120px) {
  header #hmhBoots {
    font-size: 85px;
  }
}
@media (max-width: 768px) {
  header #hmhBoots {
    font-size: 68px;
    line-height: 1.18;
  }
}

main {
  margin: 50px;
  width: 100%;
  grid-area: main;
  min-height: 600px;
  justify-self: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 780px) {
  main {
    margin: auto;
    padding: 5px;
  }
}
main .presentacion {
  border: solid 3px rgb(193, 201, 167);
  padding: 3%;
}
main #mainCompraVenta {
  min-height: 400px;
  width: 100%;
  margin: 50px;
}
@media (max-width: 780px) {
  main #mainCompraVenta {
    min-height: 360px;
    width: 90%;
    margin-top: 25px;
    margin-left: auto;
  }
}
main .centroMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  background-color: rgba(85, 85, 85, 0.493);
  height: fit-content;
}
main .centroMain .carousel-item > div {
  background-color: rgba(85, 85, 85, 0.493);
  bottom: 0;
  left: 0;
  right: 0;
  height: 28%;
  overflow: hidden;
  transition: all 1.5s ease-in-out;
}
main .centroMain .carousel-item > div:hover {
  height: 100%;
}

#tajetasCompraVenta {
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
}

.card-text {
  text-overflow: ellipsis;
}

.carousel-caption {
  padding-top: 2.5%;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  outline: solid 7px aliceblue;
  outline-offset: -16px;
}

.footer {
  grid-area: footer;
  background-color: rgb(193, 201, 167);
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  bottom: 0;
}
@media (max-width: 780px) {
  .footer {
    left: 0;
    right: 0;
  }
}
.footer .footer_gral {
  margin-left: 7%;
  margin-right: 7%;
  border: solid 5px;
  border-color: aliceblue;
}
.footer .footer_gral div {
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  flex-flow: row wrap;
}
@media (max-width: 780px) {
  .footer .footer_gral div {
    font-size: 12px;
  }
}
.footer .footer_gral div ul {
  padding: 10px;
  align-self: center;
}
.footer .footer_gral div .redes {
  display: flex;
}
.footer .footer_gral div .redes li a img {
  width: 64px;
  padding: 10px;
}
.footer .footer_gral div .apps {
  display: flex;
}
.footer .footer_gral div .apps li a img {
  max-width: 200px;
  padding: 10px;
  height: 64px;
}

.sForm {
  justify-content: center;
  display: flex;
}
.sForm .formularios {
  border: solid 10px;
  border-radius: 8px;
  border-color: rgb(193, 201, 167);
  background-color: rgb(90, 89, 89);
  color: aliceblue;
  text-transform: uppercase;
  padding: 10px;
  max-width: 1000px;
  min-width: 360px;
  margin: 15px;
  align-items: stretch;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, minmax(100px, auto));
  gap: 10px;
  grid-template-areas: "categorias categorias  categorias" "tipoUnidad tipoOper    superficie" "dorm       bano        cochera" "ubicacion  ubicacion   ubicacion" "localidad  mapa        mapa" "contacto   contacto    contacto" "contForm   contForm    contForm" "precio     precio      pago" "caract     caract      caract" "descr      descr       descr" "foto       video       video " "sumit      sumit       sumit";
}
@media (max-width: 780px) {
  .sForm .formularios {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, minmax(100px, auto));
    gap: 10px;
    margin: 0px;
    grid-template-areas: "categorias" "tipoUnidad" "tipoOper" "superficie" "dorm" "bano" "cochera" "ubicacion" "localidad" "mapa" "contacto" "contForm" "precio" "pago" "caract" "descr" "foto" "video" "sumit";
  }
}
.sForm .formularios div input {
  border: 0;
  border: 0;
  border-bottom: 1px solid;
  border-color: aliceblue;
  margin-top: 10px;
  background-color: transparent;
}
.sForm .formularios .categorias {
  grid-area: categorias;
  justify-self: center;
  align-self: center;
  font-size: 22px;
  border: 1px solid;
  border-color: aliceblue;
  padding: 10px;
}
.sForm .formularios .tipoUnidad {
  grid-area: tipoUnidad;
  padding: 10px;
}
.sForm .formularios .tipoOper {
  grid-area: tipoOper;
  padding: 10px;
}
.sForm .formularios .superficie {
  grid-area: superficie;
  padding: 10px;
}
.sForm .formularios .superficie ul {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.sForm .formularios .superficie ul li {
  margin-bottom: 15px;
}
.sForm .formularios .dorm {
  grid-area: dorm;
  padding: 10px;
}
.sForm .formularios .bano {
  grid-area: bano;
  padding: 10px;
}
.sForm .formularios .cochera {
  grid-area: cochera;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.sForm .formularios .ubicacion {
  grid-area: ubicacion;
  justify-self: center;
  align-self: center;
  font-size: 22px;
  border: 1px solid;
  border-color: aliceblue;
  padding: 10px;
}
.sForm .formularios .localidad {
  grid-area: localidad;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 10px;
}
.sForm .formularios .localidad label {
  margin-top: 5px;
}
.sForm .formularios .mapa {
  grid-area: mapa;
  padding: 10px;
  justify-self: center;
}
.sForm .formularios .contacto {
  grid-area: contacto;
  justify-self: center;
  align-self: center;
  font-size: 22px;
  border: 1px solid;
  border-color: aliceblue;
  padding: 10px;
}
.sForm .formularios .contForm {
  grid-area: contForm;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.sForm .formularios .precio {
  grid-area: precio;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-right: 1px solid;
  border-color: rgba(240, 248, 255, 0.116);
  margin-top: 10px;
}
.sForm .formularios .precio label {
  margin-top: 10px;
}
.sForm .formularios .pago {
  grid-area: pago;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 10px;
}
.sForm .formularios .caract {
  grid-area: caract;
  justify-self: center;
  align-self: center;
  font-size: 22px;
  border: 1px solid;
  border-color: aliceblue;
  padding: 10px;
}
.sForm .formularios .descr {
  grid-area: descr;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-right: 1px solid;
  border-color: rgba(240, 248, 255, 0.116);
  margin-top: 10px;
}
.sForm .formularios .descr label {
  margin-top: 10px;
}
.sForm .formularios .foto {
  grid-area: foto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding: auto;
  align-items: center;
}
.sForm .formularios .foto input {
  display: none;
}
.sForm .formularios .foto img {
  width: 64px;
  margin: 20px;
}
.sForm .formularios .video {
  grid-area: video;
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding: auto;
  align-items: center;
}
.sForm .formularios .video img {
  width: 64px;
  margin: 20px;
}
.sForm .formularios .video input {
  display: none;
}
.sForm .formularios .sumit {
  grid-area: sumit;
  justify-self: center;
  align-self: center;
  border: 2px solid;
  border-color: aliceblue;
  padding: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
  transition: all 0.8s ease;
}
.sForm .formularios .sumit input[type=submit] {
  border: 0PX;
  font-size: 18px;
  color: aliceblue;
  text-transform: uppercase;
}
.sForm .formularios .sumit:hover {
  color: black;
  border-color: black;
  background-color: rgba(206, 206, 182, 0.89);
}
.sForm .formularios .sumit:hover input[type=submit] {
  color: rgba(0, 0, 0, 0.63);
  font-size: 24px;
  font-weight: 300;
}

.contactoForm {
  width: 100%;
  display: flex;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  border-left: 2px solid;
  border-color: rgba(58, 54, 54, 0.315);
  border-right: 2px solid;
  border-color: rgba(58, 54, 54, 0.315);
}
.contactoForm form {
  border: solid 10px;
  border-radius: 8px;
  border-color: rgb(193, 201, 167);
  background-image: url(https://64.media.tumblr.com/bdc1e73d6e4a9d56a8e26c4a1fbd640b/tumblr_nl7f4seGLV1qe3zw0o1_500.png);
  background-size: cover;
  padding: 10px;
  display: grid;
  width: 800px;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "nombreCont comenCont" "numCont    comenCont" "mailCont   comenCont" "enviarCont enviarCont";
}
@media (max-width: 780px) {
  .contactoForm form {
    width: 80%;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
    grid-template-areas: "nombreCont " "numCont" "mailCont" "comenCont" "enviarCont";
  }
}
.contactoForm form label {
  flex-direction: column;
  display: flex;
  color: aliceblue;
}
.contactoForm form label input, .contactoForm form label textarea {
  border: 0;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: aliceblue;
  margin-top: 10px;
  background-color: transparent;
}
.contactoForm form .nombreCont {
  grid-area: nombreCont;
}
.contactoForm form .numCont {
  grid-area: numCont;
}
.contactoForm form .mailCont {
  grid-area: mailCont;
}
.contactoForm form .comenCont {
  grid-area: comenCont;
}
.contactoForm form .enviarCont {
  grid-area: enviarCont;
  justify-self: center;
  align-self: center;
  border: 2px solid;
  border-color: aliceblue;
  padding: 10px;
  width: 60%;
  transition: all 0.8s ease;
  display: flex;
  justify-content: center;
}
.contactoForm form .enviarCont input[type=submit] {
  border: 0PX;
  font-size: 18px;
  color: aliceblue;
  text-transform: uppercase;
  background: transparent;
}
.contactoForm form .enviarCont:hover {
  color: black;
  border-color: black;
  background-color: rgb(193, 201, 167);
}
.contactoForm form .enviarCont:hover input[type=submit] {
  color: rgba(0, 0, 0, 0.63);
  font-size: 24px;
  font-weight: 300;
}

.ayuda {
  width: 80%;
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  border-left: 2px solid;
  border-color: rgba(58, 54, 54, 0.315);
  border-right: 2px solid;
  border-color: rgba(58, 54, 54, 0.315);
}
@media (max-width: 764px) {
  .ayuda {
    width: 95%;
    border: none;
    width: auto;
  }
}
.ayuda .search-box {
  position: relative;
  width: 70%;
  padding: 20px;
}
@media (max-width: 764px) {
  .ayuda .search-box {
    width: 80%;
    align-self: flex-start;
  }
}
.ayuda .search-box .search-form {
  height: 32px;
  border: 1px solid #feacae;
  background-color: #fff;
  overflow: hidden;
}
.ayuda .search-box .search-text {
  font-size: 12px;
  color: #ddd;
  border-width: 0;
  background: transparent;
}
.ayuda .search-box input[type=text] {
  width: 90%;
  padding: 8px 0 12px 1em;
  color: #333;
  outline: none;
}
.ayuda .search-box .search-button {
  position: absolute;
  top: 18px;
  right: 0;
  height: 34px;
  width: 100px;
  font-size: 14px;
  color: #555;
  text-align: center;
  line-height: 4px;
  border-width: 0;
  background-color: #cbf3ee;
  cursor: pointer;
}
@media (max-width: 780px) {
  .ayuda .search-box .search-button {
    width: auto;
    font-size: 14px;
  }
}
.ayuda .preguntas {
  border: solid 10px;
  border-radius: 8px;
  border-color: rgb(193, 201, 167);
  background-color: rgb(90, 89, 89);
  padding: 10px;
  color: aliceblue;
  height: auto;
  width: 70%;
}
@media (max-width: 764px) {
  .ayuda .preguntas {
    width: 95%;
    border: solid 5px;
    padding: 5px;
  }
}
@media (max-width: 764px) {
  .ayuda .preguntas ul {
    padding: 10px;
    margin: 10px;
  }
}
.ayuda .preguntas ul li {
  padding-top: 10px;
  text-transform: uppercase;
  list-style: none;
}
.ayuda .preguntas ul li p {
  display: none;
}
.ayuda .preguntas ul li button {
  background-color: transparent;
  transition: all 1s ease-in-out;
  border: none;
  color: white;
}
.ayuda .preguntas ul li button:hover {
  color: rgb(193, 201, 167);
}
.ayuda .preguntas ul li button:active + P {
  display: block;
}