

.sForm{
    justify-content: center;
    display: flex;
    .formularios {
        border: solid 10px; border-radius: 8px; border-color: rgb(193, 201, 167);
        background-color: rgb(90, 89, 89);
        color: aliceblue;
        text-transform: uppercase;
        padding: 10px;
        max-width: 1000px ;
        min-width: 360px;
        margin: 15px;    
        align-items: stretch;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(12, minmax(100px, auto));
        gap: 10px;

        grid-template-areas:"categorias categorias  categorias"
                            "tipoUnidad tipoOper    superficie"    
                            "dorm       bano        cochera"
                            "ubicacion  ubicacion   ubicacion"
                            "localidad  mapa        mapa"
                            "contacto   contacto    contacto"
                            "contForm   contForm    contForm"
                            "precio     precio      pago"
                            "caract     caract      caract"
                            "descr      descr       descr"
                            "foto       video       video "
                            "sumit      sumit       sumit";

        @media (max-width: 764px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(12, minmax(100px, auto));
            gap: 10px;
            margin: 0px; 
            grid-template-areas:"categorias"
                                "tipoUnidad"
                                "tipoOper"
                                "superficie"    
                                "dorm"
                                "bano"
                                "cochera"               
                                "ubicacion"
                                "localidad"
                                "mapa"
                                "contacto"
                                "contForm"
                                "precio"
                                "pago"
                                "caract"
                                "descr"
                                "foto"
                                "video"
                                "sumit";
        }

        div {
            input {
                border: 0;
                border: 0;
                border-bottom: 1px solid;
                border-color: aliceblue;
                margin-top: 10px;
                background-color: transparent;    
            }
        }
        .categorias {
            grid-area: categorias;
            justify-self: center;
            align-self: center;
            font-size: 22px;
            border: 1px solid ;
            border-color: aliceblue;
            padding: 10px;      
        }
        .tipoUnidad {
            grid-area: tipoUnidad;
            padding: 10px;   
        }
        .tipoOper {
            grid-area: tipoOper;
            padding: 10px;
        }
        .superficie {
            grid-area: superficie;
            padding: 10px;
            ul {
                display: flex;
                flex-direction: column;
                align-items: space-between; 
                li{
                    margin-bottom: 15px;
                }  
            }
        }
        .dorm {
            grid-area: dorm;
            padding: 10px;
        
        }
        .bano {
            grid-area: bano;
            padding: 10px;
        
        }
        .cochera {
            grid-area: cochera;
            display: flex;
            justify-content:space-between;
            padding: 10px;
        }
        
        .ubicacion {
            grid-area: ubicacion;
            justify-self: center;
            align-self: center;
            font-size: 22px;
            border: 1px solid ;
            border-color: aliceblue;
            padding: 10px;
        }
        .localidad {
            grid-area: localidad;
            display: flex;
            flex-direction: column;
            align-items: space-between;
            padding: 10px; 
            label {
                margin-top: 5px;
                
            }   
        }
        .mapa {
            grid-area: mapa;
            padding: 10px;
            justify-self: center;
        }
        .contacto {
            grid-area: contacto;
            justify-self: center;
            align-self: center;
            font-size: 22px;
            border: 1px solid ;
            border-color: aliceblue;
            padding: 10px;
        }
        .contForm {
            grid-area: contForm;
            padding: 10px;
            display: flex;
            justify-content: space-evenly ;
        }
        .precio {
            grid-area: precio;
            padding: 10px;
            display: flex;
            justify-content: space-evenly ;
            flex-direction: column;
            border-right: 1px solid;
            border-color: rgba(240, 248, 255, 0.116);
            margin-top: 10px;
            label {
                margin-top: 10px;
            }
        }
        
        
.pago {
    grid-area: pago;
    padding: 10px;
    display: flex;
    justify-content: space-evenly ;
    flex-direction: column;
    margin-top: 10px;
}
.caract {
    grid-area: caract;
     justify-self: center;
    align-self: center;
    font-size: 22px;
    border: 1px solid ;
    border-color: aliceblue;
    padding: 10px;
}
.descr {
    grid-area: descr;
    padding: 10px;
    display: flex;
    justify-content: space-evenly ;
    flex-direction: column;
    border-right: 1px solid;
    border-color: rgba(240, 248, 255, 0.116);
    margin-top: 10px;
    label {
        margin-top: 10px;
    }    
}

.foto {
    grid-area: foto;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    padding: auto;
    align-items: center;
    input {
        display: none;
    }
    img { 
        width: 64px;
        margin: 20px;    
    }
}

.video {
    grid-area: video;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    padding: auto;
    align-items: center;
    img { 
        width: 64px;
        margin: 20px;    
    }
    input {
        display: none;
    }
}
.sumit {
    grid-area: sumit;
    justify-self: center;
    align-self: center;
    border: 2px solid ;
    border-color: aliceblue;
    padding: 10px;
    width: 60%;  
    display: flex;
    flex-direction: column; 
    transition: all .8s ease;
    input[type="submit"] {
        border: 0PX;
        font-size: 18px;
        color: aliceblue;
        text-transform: uppercase;}
    &:hover{
        color: black;
        border-color: black;
        background-color: rgba(206, 206, 182, 0.89);
    }
    &:hover input[type="submit"]{
        color: rgba(0, 0, 0, 0.63);
        font-size: 24px;
        font-weight: 300;
    }
}
        
    }     
    
}